/* seksyen 1 */
.seksyen1{
    background-image: url(images/banner\ 1.png);
    background-size: cover;
    padding: 10% 15% 10%;
}

.banner{
    text-align: center;
}

.heading-sewa{
    color: rgb(240, 191, 126);
}

.tulisanPutih{
    color: rgb(7, 7, 7);
}

/* seksyen1 close */
/* seksyen2 open */

.seksyen2{
    background-image: url(images/pexels-cup-of-couple-6177591.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 15% 5%;
    text-align: center;
}

.icon{
    color: rgb(15, 15, 15);
    margin-bottom: 1rem;
}

.feature-box{
    padding: 3%;
}

.carousel{
    text-align: center;
    pad: 7% 15% 7%;
}
/* seksyen2 close */

/* seksyen3 open */
.carousel{
    
    background-color: cadetblue;
    padding: 1% 5% 1%;

}
/* seksyen3 close */

/* seksyen4 open */
.seksyen4{
    background-image: url(images/keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 7% 15% 7% ;
}

/* seksyen5 */
.seksyen5{
    background-color: rgb(60, 96, 110);
    padding: 5% 20% 5%;
    text-align: left;
    color: white;
}
