/* seksyen 1 */
.seksyen1{
    background-image: url(images/banner\ 1.png);
    background-size: cover;
    padding: 7% 15% 7%;
}

.banner{
    text-align: center;
}

.heading-sewa{
    color: rgb(240, 191, 126);
}

.tulisanPutih{
    color: rgb(7, 7, 7);
}

/* seksyen1 close */
/* seksyen2 open */

.seksyen2{
    background-color:rgb(245, 246, 247);
    padding: 5% 15% 5%;
    text-align: center;
}

.icon{
    color: rgb(154, 190, 82);
    margin-bottom: 1rem;
}

.feature-box{
    padding: 3%;
}

.carousel{
    text-align: center;
    pad: 7% 15% 7%;
}
/* seksyen2 close */

/* seksyen3 open */
.carousel{
    padding: 0% 9% 0%;
}
/* seksyen5 */
.seksyen5{
    background-color: rgb(60, 96, 110);
    padding: 5% 20% 5%;
    text-align: left;
    color: white;
}
